.checkOut-btn{
    border: none;
    display: block;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 9px 45px;
    border-radius: 5px;
    background-color: #c9c5c5;
}
.checkOut-btn-enable{
    border: none;
    display: block;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 9px 45px;
    border-radius: 5px;
    background-color: #be1c1c;
}
.checkOut_link{
    
    text-decoration: none;

}